In [12]:
import pandas as pd

In [13]:
df = pd.DataFrame(pd.read_csv("Demo.csv"))

In [14]:
df

  title description  amount
0     A      fruits    1000
1     B  vegetables    2000
2     C    utensils    3000

In [15]:
df['amount'] = '%' + df['amount'].astype(str)

In [16]:
df

  title description amount
0     A      fruits  %1000
1     B  vegetables  %2000
2     C    utensils  %3000