In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame(pd.read_csv("Demo.csv"))

In [3]:
df

  title description  amount
0     A      fruits    1000
1     B  vegetables    2000
2     C    utensils    3000

In [4]:
df['amount'] = '$' + df['amount'].astype(str)

In [5]:
df

  title description amount
0     A      fruits  $1000
1     B  vegetables  $2000
2     C    utensils  $3000